/* CSS pour ajouter des flèches sur les menus foldable */

.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_menu_section > a {
    padding: 4px 4px 4px 12px;
}

.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_menu_section .oe_secondary_menu_section_toggler::before {
    display: inline-block;
    width: 0;
    height: 0;
    content: "&darr";
    text-indent: -99999px;
    vertical-align: top;
    margin-left: -12px;
    margin-top: 4px;
    margin-right: 4px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #7c7bad;
}

.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_menu_section .oe_secondary_menu_section_opened::before {
    margin-top: 6px;
    margin-left: -16px;
    margin-right: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #7c7bad;
}

.o_web_client > .o_main .o_sub_menu > .o_sub_menu_content > .oe_secondary_menu > .oe_secondary_submenu {
    margin-left: 12px;
}